@page "/todo-list"
@using TodoWeb.IServices
@using TodoWeb.Models
@inject ITodoService TodoService

<PageTitle>Todo List</PageTitle>

@code {
    private List<TodoDto> todos = new List<TodoDto>();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            todos = await TodoService.GetAllAsync();
        }
        catch
        {

        }
    }

    private async Task ToggleComplete(TodoDto todo)
    {
        try
        {
            todo.IsComplete = !todo.IsComplete;

            await TodoService.UpdateAsync(todo.Id, todo);
        }
        catch
        {
            
        }
    }
}

<ul>
    @foreach (var todo in todos)
    {
        <li class="card" @onclick="()=>ToggleComplete(todo)">
            <div class="card-body">
                <h5 class="card-title" style="text-decoration: @(todo.IsComplete? "line-through" : "none");">@todo.Id) @todo.Title</h5>
                <p class="card-description" style="text-decoration: @(todo.IsComplete? "line-through" : "none");">@todo.Description</p>
            </div>
        </li>
    }
</ul>

