@page "/todolist"
@using TodoWeb.IServices
@using TodoWeb.Models
@using TodoWeb.Components

<PageTitle>Todo List</PageTitle>

<div style="padding-bottom: 15px">
    <div style="visibility: @(!isAddNewTodo ? "hidden" : "visible"); height: 40px;"></div>
    <button class="btn-add" @onclick="ShowAddNewTodo" style="visibility: @(!isAddNewTodo ? "visible" : "hidden")">Add</button>
</div>
<div class="container-wrapper">
    <div class="card-container">
        @foreach (var todo in todos)
        {
            if (todo.Id == editingTodoId)
            {
                <Cart T="TodoDto" NewItem="todo" OnSave="()=>UpdateTodo(todo)" OnCancel="CancelTodo" />
            }
            else
            {
                <li class="card">
                    <div class="card-body" @onclick="()=>ToggleComplete(todo)">
                        <h5 class="card-title" style="text-decoration: @(todo.IsComplete ? "line-through" : "none");">@todo.Id) @todo.Title</h5>
                        <p class="card-description" style="text-decoration: @(todo.IsComplete ? "line-through" : "none");">@todo.Description</p>
                    </div>
                    <div class="card-buttons">
                        <button class="btn-edit" @onclick="()=>EditTodo(todo)">Edit</button>
                        <button class="btn-delete" @onclick="()=>DeleteTodo(todo)">Delete</button>
                    </div>
                </li>
            }
        }
        @if (isAddNewTodo)
        {
            <Cart T="TodoDto" NewItem="newTodo" OnSave="SaveNewTodo" OnCancel="CancelTodo" />
        }
    </div>
    <div class="pagination-container">
        <Pagination TotalItems="todoCount" MaxPageSize="pageSize" OnPageChanged="LoadTodoAsync" CurrentPage="currentPageIndex"></Pagination>
    </div>
</div>
